<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Chart</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/stock.js"></script>
</head>
<body>
    <div id="stock-chart" style="height: 400px; min-width: 310px"></div>

    <script type="text/javascript">
        // 從模板上下文中獲取變數
        var stockSymbol = "{{ stock_symbol }}";
        var stockSymbol2 = "{{ stock_symbol2 }}";
        var startDate = "{{ start_date }}";
        var endDate = "{{ end_date }}";
        var windowSize = "{{ window_size }}";
    
        // 使用 AJAX 來抓取後端 API 的數據
        fetch(`/api/stock-data/?symbol=${stockSymbol}&symbol2=${stockSymbol2}&start_date=${startDate}&end_date=${endDate}&window_size=${windowSize}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}' // 這裡要傳遞 CSRF Token
            }
        })
        .then(response => response.json())
        .then(data => {
            // 第一個圖表 (股票價格)
            Highcharts.stockChart('stock-chart', {
                rangeSelector: {
                    selected: 1
                },
                title: {
                    text: 'Price & Signals'
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: {
                        month: '%b %e, %Y',
                        year: '%Y'
                    },
                    title: {
                        text: 'Date'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Stock Price (USD)'
                    }
                },
                series: [{
                    name: stockSymbol,
                    data: data.stock_data,
                    tooltip: {
                        valueDecimals: 2
                    },
                    color: '#8B0000',  // 類似圖片中曲線的顏色
                },{
                    name: stockSymbol2,
                    data: data.stock_data2,
                    tooltip: {
                        valueDecimals: 2
                    },
                    color: '#008B00',  // 類似圖片中曲線的顏色
                }],
                chart: {
                    backgroundColor: '#ffffff', // 背景白色
                    height: 400
                }
            });
        })
        .then(data=>{
            // 第二個圖表 (Signals - spread, upperline, downline, averageLine)
            Highcharts.stockChart('signals-chart', {
                rangeSelector: {
                    selected: 1
                },
                title: {
                    text: 'Signals'
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: {
                        month: '%b %e, %Y',
                        year: '%Y'
                    },
                    title: {
                        text: 'Date'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Value'
                    }
                },
                series: [{
                    name: "upperline",
                    data: data.upperline,
                    tooltip: {
                        valueDecimals: 2
                    },
                    color: '#8B0000',  // 類似圖片中曲線的顏色
                },{
                    name: "downline",
                    data: data.downline,
                    tooltip: {
                        valueDecimals: 3
                    },
                    color: '#00800B',  // 類似圖片中曲線的顏色
                },{
                    name: "averageLine",
                    data: data.averageLine,
                    tooltip: {
                        valueDecimals: 3
                    },
                    color: '#00008B',  // 類似圖片中曲線的顏色
                },{
                    name: "spread",
                    data: data.spread,
                    tooltip: {
                        valueDecimals: 3
                    },
                    color: '#0B000',  // 類似圖片中曲線的顏色
                }],
                chart: {
                    backgroundColor: '#ffffff', // 背景白色
                    height: 400
                }
            });
        });
    </script>
    
</body>
</html>