<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>選擇股票與設定</title>
    <style>
        #stock-list {
            width: 200px;
            height: 100px;
        }

        #chartA, #chartB {
            width: 100%;
            height: 400px;
            margin-top: 20px;
        }

        #datatable {
            margin-top: 20px;
            width: 100%;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
</head>
<body>

    <!-- 表單開始 -->
    <form id="stock-form" method="post">
        {% csrf_token %}

        <!-- 股票代碼多選框 -->
        <label for="stock-list">選擇股票代碼:</label>
        <select id="stock-list" name="selected_stocks" multiple>
            <option value="MSFT">MSFT</option>
            <option value="AAPL">AAPL</option>
            <option value="GOOG" selected>GOOG</option>
            <option value="TSLA">TSLA</option>
        </select>
        <br><br>

        <!-- 股票代碼多選框2 -->
        <label for="stock-list2">選擇股票代碼:</label>
        <select id="stock-list2" name="selected_stocks2" multiple>
            <option value="MSFT">MSFT</option>
            <option value="AAPL" selected>AAPL</option>
            <option value="GOOG">GOOG</option>
            <option value="TSLA">TSLA</option>
        </select>
        <br><br>

        <!-- 日期選擇 -->
        <label for="start_date">開始日期:</label>
        <input type="date" id="start_date" name="start_date" value="2021-01-01">

        <label for="end_date">結束日期:</label>
        <input type="date" id="end_date" name="end_date" value="2024-01-01">
        <br><br>

        <!-- window size 的滑動條與數字顯示 -->
        <label for="window_size">窗口大小:</label>
        <input type="range" id="window_size" name="window_size" min="50" max="500" value="200" oninput="document.getElementById('size_display').value = this.value">
        <input type="number" id="size_display" value="200" readonly>
        <br><br>

        <!-- 提交按鈕 -->
        <button type="button" id="submitBtn1">提交按鈕 1</button>
    </form>

    <div id="chartA"></div>
    <div id="chartB"></div>
    <table id="datatable" >
        <thead>
            <tr>
                <!--th>Buy 1 Time</th>
                <th>Buy 2 Time</th>
                <th>Sell 1 Time</th>
                <th>Sell 2 Time</th-->
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <script>
        // 提交表單並生成圖表和表格
        document.getElementById('submitBtn1').addEventListener('click', function() {
            // 收集表單數據
            const formData = {
                selected_stocks: $('#stock-list').val(),
                selected_stocks2: $('#stock-list2').val(),
                start_date: $('#start_date').val(),
                end_date: $('#end_date').val(),
                window_size: $('#window_size').val()
            };
            $.ajax({
                url: "/api/stock_data_api/",  // 改為你的 API URL
                method: "POST",
                contentType: "application/json",  // 設置為 JSON 格式
                data: JSON.stringify(formData),  // 傳送 JSON 數據
                success: function(data) {
                    // 提取標記數據
                    const buy1Markers = data.buy1timeStock.map(([timestamp, price]) => ({
                        x: timestamp,  // 直接使用 timestamp
                        y: price,      // 直接使用對應的 price
                        marker: {
                            symbol: 'triangle',
                            fillColor: 'green'
                        }
                    }));
    
                    const sell1Markers = data.sell1TimeStock.map(([timestamp, price]) => ({
                        x: timestamp,
                        y: price,
                        marker: {
                            symbol: 'triangle-down',
                            fillColor: 'red'
                        }
                    }));
    
                    const buy2Markers = data.buy2timeStock.map(([timestamp, price]) => ({
                        x: timestamp,
                        y: price,
                        marker: {
                            symbol: 'triangle',
                            fillColor: 'green'
                        }
                    }));
    
                    const sell2Markers = data.sell2TimeStock.map(([timestamp, price]) => ({
                        x: timestamp,
                        y: price,  // 使用 sell2TimeStock 中的股價
                        marker: {
                        symbol: 'triangle-down',
                        fillColor: 'red'
                        }
                    })); 

                    const buy1MarkersSpread = data.buy1timeStockSpread.map(([timestamp, price]) => ({
                        x: timestamp,  // 直接使用 timestamp
                        y: price,      // 直接使用對應的 price
                        marker: {
                            symbol: 'triangle',
                            fillColor: 'green'
                        }
                    }));
    
                    const sell1MarkersSpread = data.sell1TimeStockSpread.map(([timestamp, price]) => ({
                        x: timestamp,
                        y: price,
                        marker: {
                            symbol: 'triangle-down',
                            fillColor: 'red'
                        }
                    }));
    
                    const buy2MarkersSpread = data.buy2timeStockSpread.map(([timestamp, price]) => ({
                        x: timestamp,
                        y: price,
                        marker: {
                            symbol: 'triangle',
                            fillColor: 'green'
                        }
                    }));
    
                    const sell2MarkersSpread = data.sell2TimeStockSpread.map(([timestamp, price]) => ({
                        x: timestamp,
                        y: price,  // 使用 sell2TimeStock 中的股價
                        marker: {
                        symbol: 'triangle-down',
                        fillColor: 'red'
                        }
                    })); 
    
                    // 1. Highcharts 圖 A (stock_data 和 stock_data2，使用日期作為 X 軸)
                    Highcharts.chart('chartA', {
                        chart: {
                        zoomType: 'x'  // 啟用 X 軸縮放
                        },
                        navigator: {  // 啟用導航器，提供縮放範圍選擇
                        enabled: true
                        },
                        scrollbar: {  // 啟用滾動條
                            enabled: true
                        },
                        title: {
                            text: 'Stock Data Chart'
                        },
                        xAxis: {
                            type: 'datetime',
                            dateTimeLabelFormats: {
                                month: '%b %e, %Y',
                                year: '%Y'
                            },
                            title: {
                                text: 'Date'
                            }
                        },
                        series: [
                            {
                                name: 'Stock Data',
                                data: data.stock_data,
                            },
                            {
                                name: 'Stock Data 2',
                                data: data.stock_data2,
                            },
                            {
                                name: 'Buy1 Markers',
                                type: 'scatter',
                                data: buy1Markers,
                                marker: {
                                    radius: 8
                                }
                            },
                            {
                                name: 'Buy2 Markers',
                                type: 'scatter',
                                data: buy2Markers,
                                marker: {
                                    radius: 8
                                }
                            },
                            {
                                name: 'Sell1 Markers',
                                type: 'scatter',
                                data: sell1Markers,
                                marker: {
                                    radius: 8
                                }
                            },
                            {
                                name: 'Sell2 Markers',
                                type: 'scatter',
                                data: sell2Markers,
                                marker: {
                                    radius: 8
                                }
                            }
                        ]
                    });
    
                    // 2. Highcharts 圖 B (spread、upperline、downline 和 averageLine)
                    Highcharts.chart('chartB', {
                        chart: {
                        zoomType: 'x'  // 啟用 X 軸縮放
                        },
                        navigator: {  // 啟用導航器，提供縮放範圍選擇
                        enabled: true
                        },
                        scrollbar: {  // 啟用滾動條
                            enabled: true
                        },
                        title: {
                            text: 'Spread and Lines'
                        },
                        xAxis: {
                            type: 'datetime',
                            dateTimeLabelFormats: {
                                month: '%b %e, %Y',
                                year: '%Y'
                            },
                            title: {
                                text: 'Date'
                            }
                        },
                        series: [
                            {
                                name: 'Spread',
                                data: data.spread
                            },
                            {
                                name: 'Upper Line',
                                data: data.upperline
                            },
                            {
                                name: 'Down Line',
                                data: data.downline
                            },
                            {
                                name: 'Average Line',
                                data: data.averageLine
                            },
                            {
                                name: 'Buy1 Markers',
                                type: 'scatter',
                                data: buy1MarkersSpread,
                                marker: {
                                    radius: 8
                                }
                            },
                            {
                                name: 'Buy2 Markers',
                                type: 'scatter',
                                data: buy2MarkersSpread,
                                marker: {
                                    radius: 8
                                }
                            },
                            {
                                name: 'Sell1 Markers',
                                type: 'scatter',
                                data: sell1MarkersSpread,
                                marker: {
                                    radius: 8
                                }
                            },
                            {
                                name: 'Sell2 Markers',
                                type: 'scatter',
                                data: sell2MarkersSpread,
                                marker: {
                                    radius: 8
                                }
                            }
                        ]
                    });
    
                    // 3. DataTables
                    $('#datatable').DataTable({
                        data: data.tableData,
                        
                        columns: data.datatable_headers.map(header => ({ title: header })), // 使用後端提供的標題
                        destroy: false // 如果表格已初始化，重新加載數據
                        });
                },
                error: function(error) {
                    console.error("Error:", error);
                }
            });
        });
    
        // 確保當數字顯示框中的值變更時，滑動條同步更新
        document.getElementById('size_display').oninput = function() {
            document.getElementById('window_size').value = this.value;
        };
    </script>

</body>
</html>
